.png
.pyc
/pyc
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
*.iml
*.idea
openCVLibrary300/*
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
bin/
build/
*.bag
*.txt

